extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Yogita Verma

       
        p.lead.text-light
          | Full Stack JavaScript Developer and a Lifelong Learner.

        
        .portfolio-bio
          p
            | I am a front-end developer in Pune, Maharastra. I am passionate about JavaScript and building web applications. I had worked for a web design company for 3 months building static websites. 
            | I am self-taught, and I decided to expand my skills by enrolling
            | in various online courses. My personal motto is: "If I don't know it, I can learn it." 
            | When I am not coding you can find me reading novels. My goal is to build web applications with the best practices and latest technologies.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML5
          li CSS3
          li Javascript
          li React
          li Node
          li Git
          li Bootstrap
          li Gulp
          li Python
        h6 Contact Info

        
        ul
          li veryogita@gmail.com
            
        
        ul.social-icons
          li
            a(href='https://www.linkedin.com/in/yogita-verma1994/',target="_blank")
              i.fab.fa-linkedin-in
            
          li
            a(href='https://github.com/Yog9',target="_blank")
              i.fab.fa-github-square
            
          li
            a(href='https://twitter.com/YogitaVerma20',target="_blank")
              i.fab.fa-twitter
            
          
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  